<form th:action="@{/home/upload/retail}" method="post" enctype="multipart/form-data">
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Upload Scoring Retail</h3>
    </div>
    <div class="card-body row">
        <div class="col-6">
            <div class="form-group">
                <label for="file">Select</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file" name="file">
                        <label class="custom-file-label" for="file">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="type-template">Type Template</label>
                <select id="type-template" name="types" class="form-control">
                    <option value="">Select Type</option>
                    <option value="monthly">Monthly</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthlyFrequency">Monthly Frequency</option>
                    <option value="weeklyFrequency">Weekly Frequency</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success">Upload</button>
    </div>
</div>
</form>