<aside class="main-sidebar sidebar-dark-primary elevation-4"
       th:fragment="main-sidebar"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- Brand Logo -->
    <a th:href="@{~/dashboard}" class="brand-link">
        <img th:src="@{~/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Simbazka</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{~/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" sec:authentication="name">Haryo</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <!--div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_SUPER_USER','ROLE_ADMINISTRATOR','ROLE_ADMIN')">
                    <a th:href="@{/master/}" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Master
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview ml-2">
                        <li class="nav-item">
                            <a th:href="@{/master/user}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/master/role}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Role</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/master/dana}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dana</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/master/common-user}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Common User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/master/global-param}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Global Param</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_SUPER_USER','ROLE_ADMINISTRATOR','ROLE_ADMIN')">
                    <a th:href="@{/transaction/}" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Transaksi
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview ml-2">
                        <li class="nav-item">
                            <a th:href="@{/transaction/penerimaan}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Penerimaan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/transaction/pengeluaran}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pengeluaran</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_SUPER_USER','ROLE_ADMINISTRATOR','ROLE_ADMIN')">
                    <a th:href="@{/report/}" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Laporan
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview ml-2">
                        <li class="nav-item">
                            <a th:href="@{/report/}" class="nav-link">
                                <i class="nav-icon fas fa-cog"></i>
                                <p>
                                    Jurnal
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview ml-2">
                                <li class="nav-item">
                                    <a th:href="@{/report/journal}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Penerimaan</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/report/pengeluaran}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Pengeluaran</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/report/}" class="nav-link">
                                <i class="nav-icon fas fa-cog"></i>
                                <p>
                                    Traksaksi
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview ml-2">
                                <li class="nav-item">
                                    <a th:href="@{/report/journal}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Penerimaan</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/report/pengeluaran}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Pengeluaran</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>